- index_model = EcolVaEarmark
- index_columns = [:account_no, :hold_no, :hold_amount, :created_at, :updated_at, :user_action]

= render partial: 'shared/index', locals: {index_model: index_model, index_columns: index_columns, records: @records}