%h1 New ECollect Hash

= render 'form'

:javascript
  $( document ).ready(function() {
    $(".ecollect-hash-parameter-add-entry").click();
    if($(".ecollect-hash-parameter-remove-entry").length == 1){
      $(".ecollect-hash-parameter-remove-entry").hide();
    }
  });