- index_model = EcolVaTxn
- index_columns = [:account_no, :hold_no, :txn_timestamp, :txn_amount, :account_balance, :hold_amount, :user_action]

= render partial: 'shared/index', locals: {index_model: index_model, index_columns: index_columns, records: @records}